{% extends "base.html" %}

{% block title-extra %} / Member {% endblock %}

{% block content %}
<div id="iznad-960">
<div id="popis-uplata"></div>
</div>

<div id="top-960"></div>
<div id="mid-960">
	
	<div id="mid-traka-gore">
		<div id="logo2"></div>
    <div id="user">Dobrodošli, <i>{{ username }}</i></div>
		<div id="odjava-box"><a href="{% url stats %}"><button class="minimal">Statistike</button></a></div>
		<div id="odjava-box"><a href="{% url logout %}"><button class="minimal">Odjava</button></a></div>
		<!--div id="odjava-box"><a href="http://localhost:8000/logout"><button class="minimal">Odjava</button></a></div-->
	</div>
	
	<div id="lista-top"></div>
	<div id="lista-mid">
  <table id="totals" style="width:500px;" cellpadding="0" cellspacing="0" border="0" class="display">
  <thead>
    <tr style="font-weight:bolder;">
      <td>Datum uplate</td><td>Datum isteka</td><td>Izvršitelj uplate</td>
    </tr>
  </thead>
  <tbody>
    {% for s in subs %}
    <tr>
      <tr {% cycle 'style="background:#ebebeb;"' '' %}>
      <td>{{ s.date }}</td>
      <td>{{ s.subsEnd|date:"m.Y." }}</td>
      <td>{{ s.paymaster.username }}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>

	</div>

	<div id="lista-bottom"></div>
<br>
<br>
</div>
<div id="bottom-960"></div>
{% endblock %}

