{% extends "base.html" %}

{% load subs-tags %}

{% block title-extra %} / Član {% endblock %}

{% block extra-css %}
  <link type="text/css" rel="stylesheet" href="{% url templates "demo_page.css" %}">
  <link type="text/css" rel="stylesheet" href="{% url templates "demo_table.css" %}">
  <link type="text/css" rel="stylesheet" href="{% url templates "demo_table_jui.css" %}">
  <link type="text/css" rel="stylesheet" href="{% url templates "jquery.ui.all.css" %}">
  <link type="text/css" rel="stylesheet" href="{% url templates "jquery.ui.base.css" %}">
  <link type="text/css" rel="stylesheet" href="{% url templates "jquery.ui.core.css" %}">
  <link type="text/css" rel="stylesheet" href="{% url templates "jquery.ui.datepicker.css" %}">
{% endblock %}

{% block extra-js %}
  <script src="{% url js "jquery.dataTables.min.js" %}" type="text/javascript"></script>	
  <script src="{% url js "jquery.ui.core.js" %}" type="text/javascript"></script>	
  <script src="{% url js "jquery.ui.widget.js" %}" type="text/javascript"></script>	
  <script src="{% url js "jquery.ui.datepicker.js" %}" type="text/javascript"></script>	
  <script type="text/javascript">
    function deleteSubscription(sid, uid, sdate) {
      if (confirm("Delete subscription for user with ID " + uid + ", date: " + sdate + "?")) {
        $.ajax({
          url: '{% url superuser_delete_payment %}/'+sid,
          error: function(jqXHR, textStatus, errorThrown) {
            //alert("Error!\n" + jqXHR + "\n" + textStatus + "\n" + errorThrown); // TODO: humanize error
          },
          statusCode: {
            404: function() {
              alert('Uplata ne postoji.');
            }
          },
          success: function(data) {
            $('#' + sid).remove();
          }
        });
      }
    }


  </script>
	<!-- End JS -->
{% endblock %}
    
{% block start-scripts %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#subs').dataTable();
    $('#bills').dataTable();
    $(".datePicker").datepicker();
  });
</script>
{% endblock %}
    
{% block content %}
<div id="iznad-container-superuser">
<div id="superuser"></div>
</div>

<div id="top-container-960"></div>

<div id="container-960">


<div id="mid-traka-gore-960">
		<div id="logo2-960"></div>
		<div id="superuser-960"><i>{{ username }}</i></div>

		<div id="odjava-box-960"><a href="{% url staff %}"><button class="minimal">Staff page</button></a></div>
		<div id="odjava-box-960"><a href="{% url member %}"><button class="minimal">Member page</button></a></div>
		<div id="odjava-box-960"><a href="{% url ebanking_payment %}"><button class="minimal">Upload XML</button></a></div>
		<div id="odjava-box-960"><a href="{% url logout %}"><button class="minimal">Odjava</button></a></div>
</div>


<div id="top-890"></div>
  
  <div id="mid-890">
    <table id="subs" cellpadding="0" cellspacing="0" border="0" class="display">
      <thead>
        <tr>
          <td>UserID</td>
          <td>Username</td>
          <td>Iznos</td>
          <td>Valid</td>
          <td>Do isteka</td>
          <td>Paymaster</td>
          <td>Datum</td>
          <td>Način plaćanja</td>
          <td>&nbsp;</td>
        </tr>
      </thead>
      <tbody>
        {% for s in allSubs %}
          <tr id="{{ s.id }}">
            <td>{{ s.user.id }}</td>
            <td>{{ s.user.username }}</td>
            <td>{{ s.amount }}</td>
            <td>{{ s.valid }}</td>
            <td>{{ s.subsEnd|timeuntil }}</td>
            <td>{{ s.paymaster.username }}</td>
            <td>{{ s.date|date:"d.m.Y." }}</td>
            <td>{{ s.paymentType }}</td>
            <td><button id="deleteBtn_{{ s.id }}" style="width: 80px; height: 20px; padding-top: 3px;" type="button" class="minimal" onclick="deleteSubscription('{{ s.id }}', '{{ s.user.id }}', '{{ s.date|date:"D d M Y" }}')" >Obriši</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

	</div>
	<div id="bottom-890"></div>

  <h2>Računi</h2>
  <div id="top-890"></div>
  <div id="mid-890">
    <table id="bills" cellpadding="0" cellspacing="0" border="0" class="display">
      <thead>
        <tr>
          <td>Tip</td>
          <td>Iznos</td>
          <td>Datum plaćanja</td>
          <td>Traje do</td>
          <td>Ak. god.</td>
          <td>Komentar</td>
        </tr>
      </thead>
      <tbody>
        {% for b in allBills %}
          <tr>
            <td>{{ billTypes|dget:b.billType }}</td>
            <td>{{ b.amount }}</td>
            <td>{{ b.date|date:"d.m.Y." }}</td>
            <td>{{ b.expirationDate|date:"d.m.Y." }}</td>
            <td>{{ b.academicYear }}</td>
            <td>{{ b.comment|default_if_none:"-" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
	</div>
	
	<div id="bottom-890"></div>

  <h2>Dodaj račun</h2>
  <div id="top-890"></div>
  <div id="mid-890">

    <form name="add_bill_frm" action="{% url superuser %}" method="POST">
      {% csrf_token %}
      <table style="font-size:12px;">
        <tbody>
          {{ bill_form.as_table }}
          <tr><td>&nbsp;</td><td><button class="minimal" style="float:left" type="submit">Dodaj</button></td></tr>
       </tbody>
    </table>
    </form>
	</div>
	
	<div id="bottom-890"></div>
  <br><br>

</div>
<div id="bottom-container-960"></div>

{% endblock %}

