{% extends "base.html" %}

{% block title-extra %} / Popis uplata {% endblock %}

{% block group-img %}
<img src="{% url images "popis-uplata.png" %}" border="0" />
{% endblock %}

{% block content %}
<div id="top-890"></div>
  
  <div id="mid-890">
  <table id="totals" style="width:500px;" cellpadding="0" cellspacing="0" border="0" class="display">
  <thead>
    <tr style="font-weight:bolder;">
      <td>Datum uplate</td><td>Datum isteka</td><td>Izvršitelj uplate</td>
    </tr>
  </thead>
  <tbody>
    {% for s in subs %}
    <tr>
      <tr {% cycle 'style="background:#ebebeb;"' '' %}>
      <td>{{ s.date }}</td>
      <td>{{ s.subsEnd|date:"m.Y." }}</td>
      <td>{{ s.paymaster.username }}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>

	</div>

	<div id="bottom-890"></div>
{% endblock %}

