{% extends "base.html" %}

{% block title-extra %} / Staff {% endblock %}

{% block extra-css %}
  <link type="text/css" rel="stylesheet" href="{% url templates "demo_page.css" %}">
  <link type="text/css" rel="stylesheet" href="{% url templates "demo_table.css" %}">
  <link type="text/css" rel="stylesheet" href="{% url templates "demo_table_jui.css" %}">
{% endblock %}

{% block extra-js %}
  <script src="{% url js "jquery.dataTables.min.js" %}" type="text/javascript"></script>	
  <script type="text/javascript">

    function confirmPayment(uid) {
      //alert('Done! ' + uid);
      $('#paymentBtn_'+uid).attr("disabled", "true");
      $('#delayBtn_'+uid).attr("disabled", "true");
      $('#deleteBtn_'+uid).removeAttr("disabled");
      $('#expr_days_'+uid).text("365");
    }

    function confirmDeletePayment(uid) {
      //alert('Done! ' + uid);
      $('#paymentBtn_'+uid).removeAttr("disabled");
      $('#delayBtn_'+uid).removeAttr("disabled");
      $('#deleteBtn_'+uid).attr("disabled", "true");
      $('#expr_days_'+uid).text("-");
    }

    function makePayment(uid, amount) {
      $.ajax({
        url: '{% url make_payment %}/'+uid+'/'+amount,
        error: function(jqXHR, textStatus, errorThrown) {
          //alert("Error!\n" + jqXHR + "\n" + textStatus + "\n" + errorThrown); // TODO: humanize error
        },
        success: function(data) {
          confirmPayment(uid);
        }
      });
    }

    function deletePayment(uid) {
      $.ajax({
        url: '{% url delete_payment %}/'+uid,
        error: function(jqXHR, textStatus, errorThrown) {
          //alert("Error!\n" + jqXHR + "\n" + textStatus + "\n" + errorThrown); // TODO: humanize error
        },
        statusCode: {
          404: function() {
            alert('Uplata ne postoji ili nemate dopuštenje za brisanje uplate.');
          }
        },
        success: function(data) {
          confirmDeletePayment(uid);
        }
      });
    }

    function updateAmount() {
      var amount = $("#def_amount_val").val();
      $("[id^=amount_]").each(function (idx) {
          $(this).val(amount);
      });
    }

  </script>
	<!-- End JS -->
{% endblock %}
    
{% block start-scripts %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#users').dataTable();
    $('#def_amount_val').change(updateAmount);
  });
</script>
{% endblock %}

{% block content %}
<div id="iznad-container-staff">
<div id="staff"></div>
</div>

<div id="top-container-960"></div>

<div id="container-960">

<div id="mid-traka-gore-960">
		<div id="logo2-960"></div>
		<div id="user-960">Dobrodošli, <i>{{ username }}</i></div>

		<div id="odjava-box-960"><a href="{% url member %}"><button class="minimal">Member page</button></a></div>
		<div id="odjava-box-960"><a href="{% url stats %}"><button class="minimal">Statistike</button></a></div>
		<div id="odjava-box-960"><a href="{% url logout %}"><button class="minimal">Odjava</button></a></div>
	</div>

<div id="top-890"></div>
  
  <div id="mid-890">

  <div id="def_amount">Default amount: <input id="def_amount_val" type="text" size="4" value="30" /></div>
  <table id="users" cellpadding="0" cellspacing="0" border="0" class="display">
    <thead>
      <tr>
        <td>UserID</td>
        <td>Do isteka [dana]</td>
        <td>Username</td>
        <td>Iznos</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
      {% for u in allUsers %}
        <tr>
          <td>{{ u.userid }}</td>
          <td id="expr_days_{{ u.userid }}">{{ u.sub_expr }}</td>
          <td>{{ u.username }}</td>
          <td><input id="amount_{{ u.userid }}" type="text" size="4" value="30" /></td>
          <td><input id="paymentBtn_{{ u.userid }}" class="actionBtn" {% if u.valid %} disabled="true"{% endif %} type="button" value="Uplati" onclick="makePayment('{{ u.userid }}', $('#amount_{{ u.userid }}').val())" /></td>
          <td><input id="delayBtn_{{ u.userid }}" class="actionBtn" {% if u.valid %} disabled="true"{% endif %} type="button" value="Odgoda" onclick="makePayment('{{ u.userid }}', '0')" /></td>
          <td><input id="deleteBtn_{{ u.userid }}" class="actionBtn" {% if not u.valid %} disabled="true"{% endif %} type="button" value="Obriši" onclick="deletePayment('{{ u.userid }}')" /></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div id="bottom-890"></div>
<br><br>
	</div>
	
	
<div id="bottom-container-960"></div>

{% endblock %}

