<!-- The DOCTYPE declaration above will set the    -->
<!-- browser's rendering engine into               -->
<!-- "Standards Mode". Replacing this declaration  -->
<!-- with a "Quirks Mode" doctype may lead to some -->
<!-- differences in layout.                        -->

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="{% url templates "f2net-subs.css" %}">
    <link type="text/css" rel="stylesheet" href="{% url templates "demo_page.css" %}">
    <link type="text/css" rel="stylesheet" href="{% url templates "demo_table.css" %}">
    <link type="text/css" rel="stylesheet" href="{% url templates "demo_table_jui.css" %}">
    <title>Fer2Net članarine</title>

    <!--script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script-->
    <script src="{% url js "jquery.js" %}" type="text/javascript"></script>	
    <script src="{% url js "jquery.dataTables.min.js" %}" type="text/javascript"></script>	
    <script type="text/javascript" src="{% url js "f2net-subs.js" %}"></script>
    
  </head>

<body>
<script type="text/javascript">
{% block start-scripts %}
  $(document).ready(function() {
    $('#users').dataTable();
  });
{% endblock %}
</script>
    
  <!-- web app will not function without JavaScript enabled -->
  <noscript>
    <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
      Your web browser must have JavaScript enabled
      in order for this application to display correctly.
    </div>
  </noscript>

  {% if msg_info %}
    <div class="info">{{ msg_info }}</div>
  {% endif %}

  {% if msg_warning %}
    <div class="warning">{{ msg_warning }}</div>
  {% endif %}

  {% if msg_success %}
    <div class="success">{{ msg_success }}</div>
  {% endif %}

  <table id="users" cellpadding="0" cellspacing="0" border="0" class="display">
    <thead>
      <tr>
        <td>UserID</td>
        <td>Username</td>
        <td>Iznos</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
      {% for u in allUsers %}
        <tr>
          <td>{{ u.userid }}</td>
          <td>{{ u.username }}</td>
          <td>{{ u.email }}</td>
          <td><input id="q{{ u.userid|cut:" " }}" type="text" size="4" value="none" /></td>
          <td><input type="button" value="Ubaci" onclick="addCartItem('{{ u.userid }}', $('#q{{ u.userid|cut:" " }}').val())" /></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url logout %}">Logout</a>

  </body>
</html>

