<!DOCTYPE html>
<html>
<head>

  <title>Fer2net članarine</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <link href="{% url templates "reset.css" %}" rel="stylesheet" type="text/css">
  <link href="{% url templates "style.css" %}" rel="stylesheet" type="text/css">
</head>

<body>

{% if msg_info %}
  <div class="info">{{ msg_info|safe }}</div>
{% endif %}

{% if msg_warning %}
  <div class="warning">{{ msg_warning }}</div>
{% endif %}

{% if msg_success %}
  <div class="success">{{ msg_success }}</div>
{% endif %}

{% if msg_error %}
  <div class="error">{{ msg_error }}</div>
{% endif %}

<div id="iznadprijave">
<div id="group-img">
<img src="{% url images "prijava.png" %}" border="0" />
</div>
<div id="strelica">
<img src="{% url images "strelica.png" %}" border="0" />
</div>
</div>

<div id="prijava-top"></div>

<div id="prijava">
<div id="logo"></div>
<form method="post" action="{% url loginview %}">
  {% csrf_token %}
  <div id="container-prijava">
    <div id="container-prijava-left"></div>
	
    <div id="container-prijava-mid">
      <input style="height:26px" type="text" name="username" value="E-mail" onblur="if (this.value == '') {this.value = 'E-mail';}" onfocus="if (this.value = '') {this.value = '';}">
    </div>
	
    <div id="container-prijava-right"></div>
  </div>

  <div id="container-prijava">
    <div id="container-prijava-left"></div>
	
    <div id="container-prijava-mid">
      <input style="height:26px" type="password" name="password" value="Lozinka" onblur="if (this.value == '') {this.value = 'Lozinka';}" onfocus="if (this.value = '') {this.value = '';}">
    </div>
	
    <div id="container-prijava-right"></div>
  </div>

  <div id="container-prijava">
    <input name="next" value="{{ next }}" type="hidden">
    <button type="submit" class="minimal">Prijava</button>
  </div>

</form>

</div>

<div id="prijava-bottom"></div>

<div id="footer">&copy; 2012. Fer2net</div>
</body>
</html>
