{% extends "base.html" %}

{% block content %}

{% if wrong_login %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url loginview %}">
{% csrf_token %}
<table>
<tr>
    <td>E-mail:</td>
    <td><input type="text" name="username" /></td>
</tr>
<tr>
    <td>Password:</td>
    <td><input type="password" name="password" /></td>
</tr>
</table>

<input type="hidden" name="next" value="{{ next }}" />
<input type="submit" value="login" />
</form>

{% endblock %}

