{% load subs-tags %}
<!doctype html>
<!-- The DOCTYPE declaration above will set the    -->
<!-- browser's rendering engine into               -->
<!-- "Standards Mode". Replacing this declaration  -->
<!-- with a "Quirks Mode" doctype may lead to some -->
<!-- differences in layout.                        -->

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="{% url templates "f2net-subs.css" %}">
    <link type="text/css" rel="stylesheet" href="{% url templates "demo_page.css" %}">
    <link type="text/css" rel="stylesheet" href="{% url templates "demo_table.css" %}">
    <link type="text/css" rel="stylesheet" href="{% url templates "demo_table_jui.css" %}">
    <title>Fer2Net članarine</title>

    <!--script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script-->
    <script src="{% url js "jquery.js" %}" type="text/javascript"></script>	
    <script src="{% url js "jquery.dataTables.min.js" %}" type="text/javascript"></script>	
    <script type="text/javascript" src="{% url js "f2net-subs.js" %}"></script>

  </head>

<body>
<script type="text/javascript">
{% block start-scripts %}
  $(document).ready(function() {
    $('#byyear').dataTable();
    $('#bills').dataTable();
  });
{% endblock %}
</script>
    
  <!-- web app will not function without JavaScript enabled -->
  <noscript>
    <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
      Your web browser must have JavaScript enabled
      in order for this application to dis
      
lay correctly.
    </div>
  </noscript>

  {% if msg_info %}
    <div class="info">{{ msg_info }}</div>
  {% endif %}

  {% if msg_warning %}
    <div class="warning">{{ msg_warning }}</div>
  {% endif %}

  {% if msg_success %}
    <div class="success">{{ msg_success }}</div>
  {% endif %}

  <h1>Hello {{ request.user.username }}!</h1>

  <table id="totals" cellpadding="0" cellspacing="0" border="1" class="display">
    <thead>
      <tr>
        <td style="width: 75%">Opis</td>
        <td>Iznos [kn]</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ukupno uplaćeno</td>
        <td>{{ totalAmount }}</td>
      </tr>
      <tr>
        <td>Ukupno uplaćeno (uživo)</td>
        <td>{{ totalInPerson }}</td>
      </tr>
      <tr>
        <td>Ukupno uplaćeno (e-banking)</td>
        <td>{{ totalEBanking }}</td>
      </tr>
      <tr>
        <td>Ukupno potrošeno</td>
        <td>{{ totalExpense }}</td>
      </tr>
      <tr>
        <td>Ukupno uplata</td>
        <td>{{ numberOfPayments }}</td>
      </tr>
    </tbody>
  </table>

<br />
  <table id="byyear" cellpadding="0" cellspacing="0" border="0" class="display">
    <thead>
      <tr>
        <td>Ak. god.</td>
        <td>Uplaćeno</td>
        <td>Uplaćeno (uživo)</td>
        <td>Uplaćeno (e-banking)</td>
        <td>Broj uplata</td>
        <td>Troškovi</td>
      </tr>
    </thead>
    <tbody>
      {% for y in aYears %}
        <tr>
          <td>{{ y }}/{{ y|add:1 }}</td>
          <td>{{ amountByYear|dget0:y }}</td>
          <td>{{ inPersonByYear|dget0:y }}</td>
          <td>{{ ebByYear|dget0:y }}</td>
          <td>{{ paymentsByYear|dget0:y }}</td>
          <td>{{ expenseByYear|dget0:y }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if request.user.is_staff %}
  <h2>Računi (staff only!)</h2>
  <table id="bills" cellpadding="0" cellspacing="0" border="0" class="display">
    <thead>
      <tr>
        <td>Tip</td>
        <td>Iznos</td>
        <td>Datum plaćanja</td>
        <td>Traje do</td>
        <td>Ak. god.</td>
        <td>Komentar</td>
      </tr>
    </thead>
    <tbody>
      {% for b in bills %}
        <tr>
          <td>{{ billTypes|dget:b.billType }}</td>
          <td>{{ b.amount }}</td>
          <td>{{ b.date|date:"D d M Y" }}</td>
          <td>{{ b.expirationDate|date:"D d M Y" }}</td>
          <td>{{ b.academicYear }}</td>
          <td>{{ b.comment|default_if_none:"-" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <a href="{% url logout %}">Logout</a>

  </body>
</html>

