{% extends "base.html" %}

{% load subs-tags %}

{% block title-extra %} / Statistike {% endblock %}

{% block extra-css %}
  <link type="text/css" rel="stylesheet" href="{% url templates "demo_page.css" %}">
  <link type="text/css" rel="stylesheet" href="{% url templates "demo_table.css" %}">
  <link type="text/css" rel="stylesheet" href="{% url templates "demo_table_jui.css" %}">
{% endblock %}

{% block extra-js %}
  <script src="{% url js "jquery.dataTables.min.js" %}" type="text/javascript"></script>	
{% endblock %}

  </head>

<body>
{% block start-scripts %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#byyear').dataTable();
    $('#bills').dataTable();
  });
</script>
{% endblock %}

{% block group-img %}
<img src="{% url images "statistike.png" %}" border="0" />
{% endblock %}

{% block content %}
	<div id="top-890"></div>
	
  <div id="mid-890-static">
    <table id="totals" cellpadding="0" cellspacing="0" border="0" class="display">
      <thead>
        <tr style="font-weight:bolder;">
          <td style="width: 75%">Opis</td>
          <td>Iznos [kn]</td>
        </tr>
      </thead>
      <tbody>
        <tr style="background:#ebebeb;">
          <td>Ukupno uplaćeno</td>
          <td>{{ totalAmount }}</td>
        </tr>
        <tr>
          <td>Ukupno uplaćeno (uživo)</td>
          <td>{{ totalInPerson }}</td>
        </tr>
        <tr style="background:#ebebeb;">
          <td>Ukupno uplaćeno (e-banking)</td>
          <td>{{ totalEBanking }}</td>
        </tr>
        <tr>
          <td>Ukupno potrošeno</td>
          <td>{{ totalExpense }}</td>
        </tr>
        <tr style="background:#ebebeb;">
          <td>Ukupno uplata</td>
          <td>{{ numberOfPayments }}</td>
        </tr>
      </tbody>
    </table>
  </div>
	
  <div id="bottom-890"></div>

  <h2>Statistike</h2>
  <div id="top-890"></div>
  
  <div id="mid-890">
  
  <br />

  <!-- možda width: 880px -->
  <table id="byyear" cellpadding="0" cellspacing="0" border="0" class="display">
    <thead>
      <tr>
        <td>Ak. god.</td>
        <td>Uplaćeno</td>
        <td>Uplaćeno (uživo)</td>
        <td>Uplaćeno (e-banking)</td>
        <td>Broj uplata</td>
        <td>Troškovi</td>
      </tr>
    </thead>
    <tbody>
      {% for y in aYears %}
        <tr>
          <td>{{ y }}/{{ y|add:1 }}</td>
          <td>{{ amountByYear|dget0:y }}</td>
          <td>{{ inPersonByYear|dget0:y }}</td>
          <td>{{ ebByYear|dget0:y }}</td>
          <td>{{ paymentsByYear|dget0:y }}</td>
          <td>{{ expenseByYear|dget0:y }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  </div>
  <div id="bottom-890"></div>

  <br/>

  {% if request.user.is_staff %}
  <h2>Računi (staff only!)</h2>
  <div id="top-890"></div>
  <div id="mid-890">

  <table id="bills" cellpadding="0" cellspacing="0" border="0" class="display">
    <thead>
      <tr>
        <td>Tip</td>
        <td>Iznos</td>
        <td>Datum plaćanja</td>
        <td>Traje do</td>
        <td>Ak. god.</td>
        <td>Komentar</td>
      </tr>
    </thead>
    <tbody>
      {% for b in bills %}
        <tr>
          <td>{{ billTypes|dget:b.billType }}</td>
          <td>{{ b.amount }}</td>
          <td>{{ b.date|date:"D d M Y" }}</td>
          <td>{{ b.expirationDate|date:"D d M Y" }}</td>
          <td>{{ b.academicYear }}</td>
          <td>{{ b.comment|default_if_none:"-" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  
  <div id="bottom-890"></div>
  {% endif %}
{% endblock %}

